
KMeans-Clustering\.xcodeproj/

\.DS_Store

Index/

Build/Intermediates\.noindex/

Build/Products/Debug/out2\.txt

Build/Products/Debug/out3\.txt

Build/Products/Release/KMeans-Clustering\.dSYM/

DerivedData/

Build/Products/Release/Quantum-Spin-Magnetization\.dSYM/

Build/Products/Release/QuantumMechanics\.dSYM/

Quantum-Spin-Magnetization\.xcodeproj/
